@font-face {
  font-family: 'Outfit', sans-serif;
  src: url(../../../public/Outfit-VariableFont_wght.ttf);
}

.navbar {
  font-family: 'Outfit', sans-serif;
  position: fixed; /* Add this line */
  top: 0; /* Add this line */
  left: 0; /* Add this line */
  right: 0; /* Add this line */
  z-index: 1000; /* Add this line */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #505F98;
  padding: 0 20px;
  height: 85px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 5px;
}

.title-container {
  display: flex;
  align-items: center;
}

.title {
  font-family: 'Outfit', sans-serif;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 32px;
  margin-right: 20px;
  padding-left: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 20px;
  max-width: 60%; /* Adjust the maximum width to make the search bar smaller */
}


.search-input {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 20px;
  padding: 0 15px;
  font-size: 16px;
}

.search-input::placeholder {
  color: #808080;
}

.search-input:focus {
  outline: none;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.buttons-container {
  font-family: 'Outfit', sans-serif;
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.nav-link {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  margin-right: 20px;
}

.nav-link:hover {
  color: #C1C1C1;
}

.login-button {
  font-family: 'Outfit', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background-color: #F5F5F5;
  border-radius: 9.36551px;
  font-weight: 800;
  font-size: 16px;
  text-decoration: none;
  color: #505F98;
}

.login-button:hover {
  background-color: #E1E1E1;
  cursor: pointer;
}

/* Mobile styles */
@media (max-width: 768px) {
  .navbar {
    padding: 0 10px;
  }
  
  .title {
    font-size: 20px;
    margin-right: 10px;
  }

  .nav-link {
    font-size: 14px;
    margin-right: 10px;
  }

  .login-button {
    width: 80px;
    height: 30px;
    font-size: 14px;
  }

  .search-container {
    max-width: 100%; /* Adjust the maximum width for mobile screens */
  }

  .search-input {
    font-size: 14px; /* Adjust the font size for mobile screens */
  }

  .search-button {
    font-size: 14px; /* Adjust the font size for mobile screens */
    width: 60px; /* Adjust the width for mobile screens */
    height: 30px; /* Adjust the height for mobile screens */
  }
}
