.card-container {
  background-color: #A1CDFF;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  padding-left: 2%;
  transition: transform 0.3s ease-out;
  position: relative;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 452px;
  height: 538px;
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform-origin: center bottom;
  cursor: pointer;
  --scale: 1;
  --translateX: 0px;
  transform: translateX(var(--translateX)) scale(var(--scale));
  transition: transform 0.3s ease-in-out;
  padding: 25px;

  &:active {
    transform: scale(0.98);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
    cursor: grabbing;
  }

  &.swiping-right, &.swiping-left {
    opacity: 0;
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.8s ease;
  }

  &.swiping-right {
    transform: translateX(30%) rotate(20deg);
  }

  &.swiping-left {
    transform: translateX(-30%) rotate(-20deg);
  }

  &.enlarge {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    z-index: 2; // To ensure the enlarged card appears above other elements
  }

  user-select: none;
}

.logo {
  padding-top: 10px;
  pointer-events: none;
}

.row-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: stretch;
  width: inherit;
  padding: 25px;
  height: 100%;
}

.row-container > div {
  flex-grow: 1;
}

.content-header {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 10px;
  align-self: flex-start;
  // padding: 20px 25px 10px 25px;
}

.content-body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-align: justify;
  text-justify: inter-word;
  // padding-top: 5px;
  // padding: 5px;
}
.company-name {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding-bottom: 10px;
}

.job-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 16px;
}

.action-buttons {
  display: flex;
  justify-content: space-around; // Changed to space-around for better distribution.
  width: 452px; // Same width as card for alignment.
  margin-bottom: 50px; // Additional space at the bottom.
}

.reset-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.not-interested {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background: #FE6D73;
  border: 1px solid #000000;
  box-shadow: 4px 4px 0px #000000;
  border-radius: 4px;
  padding: 14px 40px;
  gap: 5px;
  box-sizing: border-box;
  /* Add mouse press effect */
  transition: all 0.2s;
  width: 190px;
}

.not-interested:active {
transform: translateY(2px);
box-shadow: 2px 2px 0px #000000;
}

.interested {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background: #BCE784;
  border: 1px solid #000000;
  box-shadow: 4px 4px 0px #000000;
  border-radius: 4px;
  padding: 14px 40px;
  gap: 5px;
  box-sizing: border-box;
  /* Add mouse press effect */
  transition: all 0.2s;
  width: 190px;
}

.interested:active {
  transform: translateY(2px);
  box-shadow: 2px 2;
  box-shadow: 2px 2px 0px #000000;
}

.star {
  color: #fffb00;
  background: #5F7470;
  border: 1px solid #000000;
  box-shadow: 4px 4px 0px #000000;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 14px 15px;
  gap: 5px;
  /* Add mouse press effect */
  transition: all 0.2s;
}

.star:active {
  transform: translateY(2px);
  box-shadow: 2px 2px 0px #000000;
}

.no-more {
  height: 100%;
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.match-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: opacity 0.5s ease-out; /* Define the transition duration and easing */
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.hidden {
  visibility: hidden;
}
